.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(75, 178, 249, 0.15);
    height: 10vh;
    padding: 0 4rem;
}

.logo {
    font-family: "Permanent Marker", cursive;
    display: flex;
    align-items: center;
}

.searchbox {
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .nav {
        height: 5rem;
        padding: 0 1rem;
    }
}
