.news-card {
    width: 30%;
    margin: 2rem 5rem;
    border-radius: 25px;
}

.news-img {
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
}

.news-card-text {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
    padding: 1rem;
}

.news-title {
    font-size: 28px;
    padding: 1rem 0;
}

.news-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 2rem 0 0 0;
}

a {
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .news-card {
        margin: 0;
        flex-grow: 1;
    }
}
